In [1]:
"from golden import *"
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

# Objetivo
- A ideia dessa análise é verificar os resultados prévios da POV que rodamos em Maio/2024 para compreender se existe alguma melhoria necessária para rodar o processo em Junho/2024

#### Carregando procedimentos auditados (Processo Neurotech)
- Aqui faremos as cargas das planilhas que enviamos para o time de auditoria auditar de acordo com a priorização da neurotech

In [4]:
df_pov_1 = pd.read_csv('/mnt/c/Users/iago.louzado/Downloads/neurotech_pov_1.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/c/Users/iago.louzado/Downloads/neurotech_pov_1.csv'

In [3]:
df_pov_2 = pd.read_csv('/mnt/c/Users/iago.louzado/Downloads/neurotech_pov_2.csv')

In [28]:
df_pov_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4811 entries, 0 to 4810
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SCORE              4811 non-null   float64
 1   ID_EVENTO          4811 non-null   int64
 2   ID_ATENDIMENTO     4811 non-null   int64
 3   DATA_SOLICITACAO   4811 non-null   object
 4   NOME_PROCEDIMENTO  4811 non-null   object
 5   VL_REPASSE         4811 non-null   float64
 6   FL_ANALISAR        4811 non-null   int64
 7   EXPECTATIVA_GLOSA  4811 non-null   float64
 8   FL_AUDITADO        4811 non-null   bool
 9   PREV ANALISADO     4811 non-null   bool
dtypes: bool(2), float64(3), int64(3), object(2)
memory usage: 310.2+ KB

In [29]:
df_pov_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5046 entries, 0 to 5045
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SCORE                  5046 non-null   float64
 1   ID_EVENTO              5046 non-null   int64
 2   ID_ATENDIMENTO         5046 non-null   int64
 3   DATA_SOLICITACAO       5046 non-null   object
 4   NOME_PROCEDIMENTO      5046 non-null   object
 5   VL_REPASSE             5046 non-null   float64
 6   FL_CAIU_REGRA_SISTEMA  5046 non-null   int64
 7   FL_ANALISAR            5046 non-null   int64
 8   EXPECTATIVA_GLOSA      5046 non-null   float64
 9   FL_AUDITADO            5046 non-null   bool
 10  PREV ANALISADO         5046 non-null   bool
dtypes: bool(2), float64(3), int64(4), object(2)
memory usage: 364.8+ KB

In [6]:
df_pov_1

,SCORE,ID_EVENTO,ID_ATENDIMENTO,DATA_SOLICITACAO,NOME_PROCEDIMENTO,VL_REPASSE,FL_ANALISAR,EXPECTATIVA_GLOSA,FL_AUDITADO,PREV ANALISADO
0,0.714491,6618943,3154527,2024-05-14,Abdominocentese,99.00,1,70.7,False,True
1,0.837099,6619301,3154694,2024-05-14,Abdominocentese,55.00,1,46.0,True,False
2,0.784284,6488233,3091754,2024-05-07,Abdominocentese,54.50,1,42.7,True,False
3,0.614452,6628206,3158630,2024-05-15,Abdominocentese,48.20,1,29.6,True,False
4,0.667784,6605777,3147823,2024-05-14,Acesso intravenoso,14.16,1,9.5,True,False
...,...,...,...,...,...,...,...,...,...,...
4806,0.632064,6525161,3109674,2024-05-09,Vacina Tríplice (V3) / Quádrupla (V4),30.00,1,19.0,False,False
4807,0.617600,6479341,3087403,2024-05-07,Vacina Tríplice (V3) / Quádrupla (V4),30.40,1,18.8,False,False
4808,0.608172,6515047,3104890,2024-05-09,Vacina Tríplice (V3) / Quádrupla (V4),30.00,1,18.2,False,False
4809,0.677181,6449839,3073643,2024-05-05,Vacina Tríplice (V3) / Quádrupla (V4),23.00,1,15.6,False,False
4810,0.608386,6650795,3169736,2024-05-16,Vacina Tríplice (V3) / Quádrupla (V4),13.00,1,7.9,False,False

In [7]:
df_pov_2

,SCORE,ID_EVENTO,ID_ATENDIMENTO,DATA_SOLICITACAO,NOME_PROCEDIMENTO,VL_REPASSE,FL_CAIU_REGRA_SISTEMA,FL_ANALISAR,EXPECTATIVA_GLOSA,FL_AUDITADO,PREV ANALISADO
0,0.976067,6880252,3279864,2024-05-28,Curativo Simples,7.00,0,1,6.8,True,False
1,0.965685,6807888,3244700,2024-05-24,"Soroterapia / Fluidoterapia (fisiológico, ring...",13.00,0,1,12.6,True,False
2,0.956384,6886814,3282764,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,17.00,0,1,16.3,True,False
3,0.956384,6886812,3282764,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,17.00,0,1,16.3,True,False
4,0.956384,6886813,3282764,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,17.00,0,1,16.3,True,False
...,...,...,...,...,...,...,...,...,...,...,...
5041,0.600111,6898604,3288858,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,6.19,0,1,3.7,False,False
5042,0.600111,6898603,3288858,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,6.19,0,1,3.7,False,False
5043,0.600066,6716853,3200855,2024-05-20,Locação de sala para atendimento volante,15.00,0,1,9.0,False,False
5044,0.600018,6835470,3258185,2024-05-25,Consulta Plantão,75.52,0,1,45.3,False,False
5045,0.600001,6797083,3239523,2024-05-24,Colírio Anestésico unilateral,1.38,0,1,0.8,False,False

#### Carregando procedimentos auditados (Processo atual)

In [89]:
df_processo_atual = pd.read_csv('/mnt/c/Users/iago.louzado/Downloads/auditoria_processo_atual.csv')

In [90]:
# Renomeando coluna
df_processo_atual = df_processo_atual.rename(columns = {'Nº SOLICITAÇÃO': 'numero_atendimento'})

In [48]:
# Excluindo colunas que vieram zoadas no csv
# df_processo_atual = df_processo_atual.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis = 1)

In [92]:
df_processo_atual

     numero_atendimento
0               3069004
1               3069231
2               3069562
3               3156226
4               3154702
..                  ...
751             3442022
752             3453519
753             3454903
754             3468981
755             3470786

[756 rows x 1 columns]

#### Carregandos custos_medicos

In [27]:
# Iniciando o client para acessar o BQ
client_bq = config_client('prod')

check_client_connection(client_bq)

/home/iagotalamoni/.local/lib/python3.8/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

True

In [95]:
# Declarando a query que vamos utilizar
query = """
select cast(id_atendimento as int64) as id_atendimento,
       numero_atendimento,
       status_novo,
       vl_bruto -- Trazendo para análise do processo atual
from `op_health.custos_medicos`
where sistema_origem_custo = 'ERP Nofaro'
and date_trunc(data_origem_date, month) = '2024-05-01'
"""

query_bytes(query, client_bq)

'593.00 MB'

In [96]:
# Trazendo os dados do lake para um dataframe
df_lake = run_query(query, client_bq)

Esta consulta processará 593.00 MB.

Deseja executar a consulta? (Y/N) y

Iniciando query
Iniciando a consulta: 2024-06-18 15:09:55
Consulta concluída: 2024-06-18 15:10:15
Duração da consulta: 0:00:20.088228

In [97]:
# Verificando os dados
df_lake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540532 entries, 0 to 540531
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_atendimento      540532 non-null  Int64
 1   numero_atendimento  540532 non-null  Int64
 2   status_novo         540532 non-null  object
 3   vl_bruto            540481 non-null  float64
dtypes: Int64(2), float64(1), object(1)
memory usage: 17.5+ MB

In [98]:
df_lake

        id_atendimento  numero_atendimento status_novo  vl_bruto
0              6698290             3192101    Aprovado     42.77
1              6783966             3233110    Aprovado     48.00
2              6512676             3103817    Aprovado     51.85
3              6679779             3183822    Aprovado     86.62
4              6474013             3085220    Aprovado     79.45
...                ...                 ...         ...       ...
540527         6544739             3119056    Aprovado     14.95
540528         6765007             3224154    Aprovado     14.95
540529         6582849             3137094    Aprovado     14.95
540530         6775178             3229166    Aprovado     14.95
540531         6518139             3106284    Aprovado     14.95

[540532 rows x 4 columns]

#### Volume que auditamos na POV (Processo Neurotech)

In [12]:
# Primeira Quinzena
resultado_1 = df_pov_1['FL_AUDITADO'].value_counts()
print(resultado_1)

FL_AUDITADO
True     2617
False    2194
Name: count, dtype: int64

In [19]:
# Percentual que auditamos do total - Primeira Quinzena
pct_auditado_1 = resultado_1[0] / (resultado_1[0] + resultado_1[1])
pct_auditado_1 * 100

54.39617543130326

In [22]:
# Segunda Quinzena
resultado_2 = df_pov_2['FL_AUDITADO'].value_counts()
print(resultado_2)

FL_AUDITADO
False    3678
True     1368
Name: count, dtype: int64

In [26]:
# Percentual que auditamos do total - Primeira Quinzena
pct_auditado_2 = resultado_2[1] / (resultado_2[1] + resultado_2[0]) 
pct_auditado_2 * 100

27.110582639714625

In [37]:
# Totais
auditado_1 = resultado_1[0]
auditado_2 = resultado_2[1]
total_1 = resultado_1[1] + resultado_1[0]
total_2 = resultado_2[1] + resultado_2[0]
pct_total = (auditado_1 + auditado_2) / (total_1 + total_2)
print(pct_total * 100)

40.428122146697774

#### Verificando eficiência (Processo Neurotech)
- Status dos procedimentos após a análise
- Taxa de glosa
- Valor de repassa que economizamos com as glosas

In [50]:
# Primeiramente vamos juntar as duas planilhas que mandamos para o time de auditoria
df_aud_final = pd.concat([df_pov_1, df_pov_2], ignore_index = True)

In [52]:
# Verificando se concatenação funcionou
df_aud_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SCORE                  9857 non-null   float64
 1   ID_EVENTO              9857 non-null   int64
 2   ID_ATENDIMENTO         9857 non-null   int64
 3   DATA_SOLICITACAO       9857 non-null   object
 4   NOME_PROCEDIMENTO      9857 non-null   object
 5   VL_REPASSE             9857 non-null   float64
 6   FL_ANALISAR            9857 non-null   int64
 7   EXPECTATIVA_GLOSA      9857 non-null   float64
 8   FL_AUDITADO            9857 non-null   bool
 9   PREV ANALISADO         9857 non-null   bool
 10  FL_CAIU_REGRA_SISTEMA  5046 non-null   float64
dtypes: bool(2), float64(4), int64(3), object(2)
memory usage: 712.4+ KB

In [57]:
# Agora vamos cruzar a base do que priorizamos com o custos_medicos
df_uniao = pd.merge(df_aud_final, right = df_lake, how = 'left', left_on = 'ID_EVENTO', right_on = 'id_atendimento')

In [58]:
df_uniao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SCORE                  9857 non-null   float64
 1   ID_EVENTO              9857 non-null   int64
 2   ID_ATENDIMENTO         9857 non-null   int64
 3   DATA_SOLICITACAO       9857 non-null   object
 4   NOME_PROCEDIMENTO      9857 non-null   object
 5   VL_REPASSE             9857 non-null   float64
 6   FL_ANALISAR            9857 non-null   int64
 7   EXPECTATIVA_GLOSA      9857 non-null   float64
 8   FL_AUDITADO            9857 non-null   bool
 9   PREV ANALISADO         9857 non-null   bool
 10  FL_CAIU_REGRA_SISTEMA  5046 non-null   float64
 11  id_atendimento         9853 non-null   Int64
 12  numero_atendimento     9853 non-null   Int64
 13  status_novo            9853 non-null   object
dtypes: Int64(2), bool(2), float64(4), int64(3), object(3)
memory usage: 962.7+ KB

In [59]:
# Agora vamos deixar somente as colunas que queremos
df_uniao_final = df_uniao.drop(['id_atendimento', 'numero_atendimento'], axis = 1)

In [62]:
df_uniao_final

,SCORE,ID_EVENTO,ID_ATENDIMENTO,DATA_SOLICITACAO,NOME_PROCEDIMENTO,VL_REPASSE,FL_ANALISAR,EXPECTATIVA_GLOSA,FL_AUDITADO,PREV ANALISADO,FL_CAIU_REGRA_SISTEMA,status_novo
0,0.714491,6618943,3154527,2024-05-14,Abdominocentese,99.00,1,70.7,False,True,NaN,Aprovado
1,0.837099,6619301,3154694,2024-05-14,Abdominocentese,55.00,1,46.0,True,False,NaN,Aprovado
2,0.784284,6488233,3091754,2024-05-07,Abdominocentese,54.50,1,42.7,True,False,NaN,Aprovado
3,0.614452,6628206,3158630,2024-05-15,Abdominocentese,48.20,1,29.6,True,False,NaN,Glosado Recursável
4,0.667784,6605777,3147823,2024-05-14,Acesso intravenoso,14.16,1,9.5,True,False,NaN,Aprovado
...,...,...,...,...,...,...,...,...,...,...,...,...
9852,0.600111,6898604,3288858,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,6.19,1,3.7,False,False,0.0,Aprovado
9853,0.600111,6898603,3288858,2024-05-29,Aplicação de Injeção Subcutânea ou Intramuscul...,6.19,1,3.7,False,False,0.0,Aprovado
9854,0.600066,6716853,3200855,2024-05-20,Locação de sala para atendimento volante,15.00,1,9.0,False,False,0.0,Aprovado
9855,0.600018,6835470,3258185,2024-05-25,Consulta Plantão,75.52,1,45.3,False,False,0.0,Aprovado
9856,0.600001,6797083,3239523,2024-05-24,Colírio Anestésico unilateral,1.38,1,0.8,False,False,0.0,Aprovado

--------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Agora vamos começar a gerar os indicadores de performance

In [65]:
# DISTRIBUIÇÃO DOS CASOS AUDITADOS POR STATUS
# Do total que auditamos, quais os status após a análise
qtd_por_status = df_uniao_final[df_uniao_final['FL_AUDITADO'] == True]['status_novo'].value_counts()
qtd_por_status

status_novo
Aprovado                3727
Glosado Irrecursável     240
Glosado Recursável        18
Name: count, dtype: int64

In [101]:
# TAXA DE GLOSA
# Taxa de glosa = total de glosas / total de casos auditados
glosa_irrecursavel = qtd_por_status['Glosado Irrecursável']
glosa_recursavel = qtd_por_status['Glosado Recursável']
aprovado = qtd_por_status['Aprovado']

tx_glosa = (glosa_irrecursavel + glosa_recursavel) / (glosa_irrecursavel + glosa_recursavel + aprovado)
tx_glosa * 100

print(f'A taxa de glosa é de {round(tx_glosa * 100, 1)}%')

A taxa de glosa é de 6.5%

In [106]:
# VALOR ECONOMIZADO COM GLOSAS: Utilizamos o vl_bruto da custos médicos como VL_REPASSE (É o valor que vamos repassar para a clínica - PODE ter copart)
glosados = df_uniao_final[(df_uniao_final['status_novo'] == 'Glosado Recursável') | (df_uniao_final['status_novo'] == 'Glosado Irrecursável')]
vl_economizado = glosados['VL_REPASSE'].sum()
print(f'O valor que podemos economizar é de R${round(vl_economizado, 2)}')

O valor que podemos economizar é de R$24669.8

#### Verificando eficiência (Processo Atual)
- Status dos procedimentos após a análise
- Taxa de glosa
- Valor de repassa que economizamos com as glosas

In [99]:
# Cruzamento da base via indicador com a custos_medicos
df_uniao_2 = pd.merge(df_lake, right = df_processo_atual, how = 'inner', left_on = 'numero_atendimento', right_on = 'numero_atendimento')
df_uniao_2

      id_atendimento  numero_atendimento         status_novo  vl_bruto
0            6485697             3090475            Aprovado    115.50
1            6485698             3090475  Glosado Recursável    210.00
2            6485699             3090475            Aprovado    210.00
3            6485696             3090475            Aprovado     68.25
4            6485695             3090475            Aprovado     68.25
...              ...                 ...                 ...       ...
1677         6382636             3041720            Aprovado     20.00
1678         6382635             3041720  Glosado Recursável     15.00
1679         6394874             3047465  Glosado Recursável     15.00
1680         6386799             3043898  Glosado Recursável     10.00
1681         6384974             3042966  Glosado Recursável     10.00

[1682 rows x 4 columns]

In [100]:
# DISTRIBUIÇÃO DOS CASOS AUDITADOS POR STATUS
# Do total que auditamos, quais os status após a análise
qtd_por_status_2 = df_uniao_2['status_novo'].value_counts()
qtd_por_status_2

status_novo
Aprovado                887
Glosado Recursável      388
Recursado               240
Glosado Irrecursável    166
Fora prazo recurso        1
Name: count, dtype: int64

In [102]:
# TAXA DE GLOSA
# Taxa de glosa = total de glosas / total de casos auditados
glosa_irrecursavel = qtd_por_status_2['Glosado Irrecursável']
glosa_recursavel = qtd_por_status_2['Glosado Recursável']
aprovado = qtd_por_status_2['Aprovado']
recursados = qtd_por_status_2['Recursado']
fora_prazo_recurso = qtd_por_status_2['Fora prazo recurso']

tx_glosa_2 = (glosa_irrecursavel + glosa_recursavel + recursados + fora_prazo_recurso) / (glosa_irrecursavel + glosa_recursavel + aprovado + recursados + fora_prazo_recurso)
tx_glosa_2 * 100

print(f'A taxa de glosa é de {round(tx_glosa_2 * 100, 1)}%')

A taxa de glosa é de 47.3%

In [107]:
# VALOR ECONOMIZADO COM GLOSAS: Utilizamos o vl_bruto da custos médicos como VL_REPASSE (É o valor que vamos repassar para a clínica - PODE ter copart)
glosados_2 = df_uniao_2[df_uniao_2['status_novo'] != 'Aprovado']
vl_economizado_2 = glosados_2['vl_bruto'].sum()
print(f'O valor que podemos economizar é de R${round(vl_economizado_2, 2)}')

O valor que podemos economizar é de R$82905.91

In [109]:
save_to_xlsx(glosados_2, path = '/mnt/c/Users/iago.louzado/Downloads', file_name = 'teste_glosados')

'Arquivo teste_glosados.xlsx salvo com sucesso em /mnt/c/Users/iago.louzado/Downloads/teste_glosados.xlsx!!'

#### Valor médio do procedimento por faixa de score - POV
- A ideia aqui é pegarmos o que foi scorado e priorizado pela Neurotech e entender o valor médio de procedimento por faixa de score

In [139]:
# Fazendo a carga das bases completas de priorização
df_total_1 = pd.read_csv('/mnt/c/Users/iago.louzado/Downloads/base_neurotech_01052024_16052024_41k_score.csv')
df_total_2 = pd.read_csv('/mnt/c/Users/iago.louzado/Downloads/base_neurotech_17052024_31052024_45k_score.csv')
print(f'Primeira quinzena: {len(df_total_1)} | Segunda Quinzena: {len(df_total_2)}.\nTotal Scorados: {len(df_total_1) + len(df_total_2)}')

Primeira quinzena: 41750 | Segunda Quinzena: 45001.
Total Scorados: 86751

In [140]:
# Vamos concatenar tudo em um mesmo dataframe
df_total_final = pd.concat([df_total_1, df_total_2], ignore_index = True)
df_total_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86751 entries, 0 to 86750
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SCORE             86751 non-null  float64
 1   ID_EVENTO         86751 non-null  int64
 2   ID_ATENDIMENTO    86751 non-null  int64
 3   DATA_SOLICITACAO  86751 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.6+ MB

In [141]:
# Criando categorias por score
condicoes = [
    (df_total_final['SCORE']<= .1),
    (df_total_final['SCORE']>.1) & (df_total_final['SCORE']<=.2),
    (df_total_final['SCORE']>.2) & (df_total_final['SCORE']<=.3),
    (df_total_final['SCORE']>.3) & (df_total_final['SCORE']<=.4),
    (df_total_final['SCORE']>.4) & (df_total_final['SCORE']<=.5),
    (df_total_final['SCORE']>.5) & (df_total_final['SCORE']<=.6),
    (df_total_final['SCORE']>.6) & (df_total_final['SCORE']<=.7),
    (df_total_final['SCORE']>.7) & (df_total_final['SCORE']<=.8),
    (df_total_final['SCORE']>.8) & (df_total_final['SCORE']<=.9),
    (df_total_final['SCORE']>.9)
]

categorias = [
    '0 - 0 a 10%',
    '1 - 10 a 20%',
    '2 - 20 a 30%',
    '3 - 30 a 40%',
    '4 - 40 a 50%',
    '5 - 50 a 60%',
    '6 - 60 a 70%',
    '7 - 70 a 80%',
    '8 - 80 a 90%',
    '9 - 90 a 100%',
]
df_total_final['classificacao_score'] = np.select(condicoes, categorias, np.nan)
df_total_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86751 entries, 0 to 86750
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SCORE                86751 non-null  float64
 1   ID_EVENTO            86751 non-null  int64
 2   ID_ATENDIMENTO       86751 non-null  int64
 3   DATA_SOLICITACAO     86751 non-null  object
 4   classificacao_score  86751 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 3.3+ MB

In [142]:
# Agora vamos trazer os dados de valor de repasse para o dataframe
# Esse passo é importante para calcular o valor médio de repasse por faixa de score
df_cm_total_final = pd.merge(df_total_final, right = df_lake, how = 'left', left_on = 'ID_EVENTO', right_on = 'id_atendimento')

In [144]:
# Apagando colunas desnecessárias
df_cm_total_final = df_cm_total_final.drop(['id_atendimento', 'numero_atendimento', 'status_novo'], axis = 1)
df_cm_total_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86751 entries, 0 to 86750
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SCORE                86751 non-null  float64
 1   ID_EVENTO            86751 non-null  int64
 2   ID_ATENDIMENTO       86751 non-null  int64
 3   DATA_SOLICITACAO     86751 non-null  object
 4   classificacao_score  86751 non-null  object
 5   vl_bruto             86702 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.0+ MB

In [147]:
# Cálculo da média por faixa de score
df_cm_total_final.groupby('classificacao_score')['vl_bruto'].mean()

classificacao_score
0 - 0 a 10%      21.885260
1 - 10 a 20%     47.059235
2 - 20 a 30%     53.456215
3 - 30 a 40%     55.589188
4 - 40 a 50%     60.559554
5 - 50 a 60%     61.374213
6 - 60 a 70%     55.915274
7 - 70 a 80%     31.493620
8 - 80 a 90%     21.716613
9 - 90 a 100%    15.249280
Name: vl_bruto, dtype: float64

In [ ]:
-- Montar base com consolidações que bruno pediu